@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  min-height: 100%;
}

.bg-img {
  background-color: #f8f8f8;
  background-image: url(../assets/img/pokepattern.jpg);
  background-repeat: repeat;
}

.capitalize h2{
  text-transform: capitalize;
}
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: greenyellow;
}

/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: greenyellow;
}
